String - Strings are datatypes in python which stores collection of characters

In [1]:
name = "vishal"
NAME = "VISHAl"

In [2]:
print(name + NAME)

vishalVISHAl

In [4]:
#strings have an indexing which starts with zero, that means we can grab a some part of string using there index position

name[1]

'i'

In [7]:
#String sliciing 

#STRING[FIRSTPOSITION : LASTPOSITION - 1: STEP]
NAME[1:4]
NAME[::-1] #reverse string

'lAHSIV'

In [8]:
#add a tab space in string
print("this is \t tab space")

this is 	 tab space

In [9]:
#add a new line
print("the is \n new line")

the is
 new line

# STRING INDEXING AND SLICING

In [10]:
#indexing is where we grab a particular charcater of a string

name = "hello"
#       01234
name[4]

'o'

In [12]:
#slicing 
#slicing means grabing a particular section of a string using slice method
name[1:4:2]

'el'

In [13]:
name[1::2]

'el'

In [14]:
name[::-1]

'olleh'

# STRING PROPERTIES AND METHODS

In [15]:
#strings are immutable - that means we can not change the values stored in a string using the index position

In [16]:
name = "vishal"
name.upper()

'VISHAL'

In [17]:
name.lower()

'vishal'

In [18]:
name.capitalize()

'Vishal'

In [19]:
name.casefold()

'vishal'

In [30]:
name.split()

['vishal']

In [31]:
name.split("i")

['v', 'shal']

In [33]:
"the".join(name.split("i"))

'vtheshal'

# print formattting with string

In [39]:
name = "vishal"
lastname = "badole"
#with .format
print("my name is {} {}".format(name,lastname))

my name is vishal badole

In [40]:
#with f string
print(f'my name is {name} {lastname}')

my name is vishal badole